<?xml version="1.0"?>
<config>	
	<modules>
		<Sekizgen_Lastikgenerallayout>
			<version>0.1.0</version>
		</Sekizgen_Lastikgenerallayout>
	</modules>

    <frontend>
        <layout>
        	<updates>
	        	<sekizgen_lastikgenerallayout>
		        	<file>lastikgenerallayout.xml</file>
	        	</sekizgen_lastikgenerallayout>
        	</updates>
        </layout>  
    </frontend> 


</config>
